.main {
  margin-left: 10px;
  margin-top: 10px;
}

.green {
  background-color: #8ce18e;
}

.purple {
  background-color: #b390eb;
}

.red {
  background-color: #f36b6b;
}

th {
  background-color: #60b3b2;
}

td {
  background-color: #9ee1e0;
}
