<div class="main">
  <h4>Current group status:</h4>
  <div><b>Name:</b> {{groupState.groupName}}</div>
  <div><b>Water level:</b> {{groupState.waterLevel | number}} meters</div>
  <div><b>Money earned:</b> {{groupState.money | currency:'NOK':'symbol':'1.0-0'}}</div>
  <div><b>Environmental cost:</b> {{groupState.environmentCost | number}}</div>
  <hr>

  <h3>Turbines: </h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let turbine of turbines">
      <td>{{turbine.id}}</td>
      <td class="{{turbineStatusColor(turbine.capacityUsage)}}">{{turbineStatus(turbine.capacityUsage)}}</td>
    </tr>
    </tbody>
  </table>
</div>
